<!doctype html>
<html lang="en" ng-app="toDoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App</title>
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap-theme.css"/>
</head>
<body ng-controller="ToDoCtrl as vm">

<div class="page-header">
    <h1>
        {{vm.todo.user}}'s To Do List
        <span class="label label-default" ng-hide="vm.incompleteCount() === 0" ng-class="vm.warningLevel()">
            {{vm.incompleteCount()}}
        </span>
    </h1>
</div>

<div class="panel">
    <div class="input-control">
        <input type="text" ng-model="actionText" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="vm.addNewItem(actionText)">Add</button>
        </span>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.todo.items | checkedItems: showComplete | orderBy: 'action' track by $index">
            <td>{{item.action}}</td>
            <td><input type="checkbox" ng-model="item.done"></td>
        </tr>
        </tbody>
    </table>

    <div class="checkbox-inline">
        <label>
            <input type="checkbox" ng-model="showComplete">
            Show Complete
        </label>
    </div>
</div>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="src/app.module.js"></script>
<script type="text/javascript" src="src/app.service.js"></script>
<script type="text/javascript" src="src/app.filter.js"></script>
<script type="text/javascript" src="src/app.controller.js"></script>
</body>
</html>