<style>
    #productTable {
        width: auto;
    }

    #productTable td {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #productTable td input {
        max-width: 125px;
    }
</style>
<div ng-controller="productCtrl as pvm">
    <table id="productTable" class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in pvm.data.products" ng-hide="item.id === pvm.editedProduct.id">
            <td>{{item.name}}</td>
            <td class="description">{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price | currency}}</td>
            <td>
                <button ng-click="pvm.startEdit(item)" class="btn btn-xs btn-primary">
                    Edit
                </button>
                <button ng-click="pvm.deleteProduct(item)" class="btn btn-xs btn-primary">
                    Delete
                </button>
            </td>
        </tr>
        <tr ng-class="{danger: pvm.editedProduct}">
            <td><input ng-model="pvm.editedProduct.name" required/></td>
            <td><input ng-model="pvm.editedProduct.description" required/></td>
            <td><input ng-model="pvm.editedProduct.category" required/></td>
            <td><input ng-model="pvm.editedProduct.price" required/></td>
            <td>
                <button ng-hide="pvm.editedProduct.id"
                        ng-click="pvm.createProduct(pvm.editedProduct)"
                        class="btn btn-xs btn-primary">
                    Create
                </button>
                <button ng-show="pvm.editedProduct.id"
                        ng-click="pvm.updateProduct(pvm.editedProduct)"
                        class="btn btn-xs btn-primary">
                    Save
                </button>
                <button ng-show="pvm.editedProduct"
                        ng-click="pvm.cancelEdit()" class="btn btn-xs btn-primary">
                    Cancel
                </button>
            </td>
        </tr>
    </table>
</div>