<div class="well" ng-controller="authenticateCtrl as vm">
    <div class="alert alert-info" ng-hide="vm.authenticationError">
        Enter your email and password and click Log In to authenticate
    </div>
    <div class="alert alert-danger" ng-show="vm.authenticationError">
        Authentication Failed ({{vm.authenticationError.status}}). Try again.
    </div>
    <form name="authForm" novalidate>
        <div class="form-group">
            <label>Email</label>
            <input name="username" class="form-control" ng-model="username" required/>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control"
                   ng-model="password" required/>
        </div>
        <div class="text-center">
            <button ng-click="vm.authenticate(username, password)" ng-disabled="authForm.$invalid"
                    class="btn btn-primary">
                Log In
            </button>
        </div>
    </form>
</div>