body {
    background-color: #5c5c5c;
    color: #ffffff;
}
span {
    color: rgba(255,255,255,0.5);
}

footer {
    border-top: 1px dashed #dddddd;
    padding: 10px 0;
}

footer span{
    color:green;
}

#my-id {
    font-size: 38px;
    font-weight: 100;
}

header {
    border-bottom: 1px solid #dddddd;
}

.main {
    display: flex;
    justify-content: center;
    align-content: center;
}

a[target="_blank"],
a[target="_blank"]:visited,
a[target="_blank"]:focus{
    text-decoration: none;
    color:red;
}
@media(max-width: 767px) {
    #my-id {
        font-size: 38px;
    }
}