<h1 id="authenticateTitle">Login to Your Social Media Account</h1>

<div class="row">
    <button ng-click="vm.autheticate('google')" class="btn col-sm-2 col-sm-offset-5 btn-social btn-google">
        <span class="fa fa-google"></span> Sign in with Google
    </button>
</div>

<div class="row">
    <button ng-click="vm.autheticate('github')" class="btn col-sm-2 col-sm-offset-5 btn-social btn-github">
        <span class="fa fa-github"></span> Sign in with Github
    </button>
</div>

<div class="row">
    <button ng-click="vm.autheticate('twitter')" class="btn col-sm-2 col-sm-offset-5 btn-social btn-twitter">
        <span class="fa fa-twitter"></span> Sign in with Twitter
    </button>
</div>

<div class="row">
    <button ng-click="vm.autheticate('facebook')" class="btn col-sm-2 col-sm-offset-5 btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Facebook
    </button>
</div>